ion-content{
    --ion-background-color:transparent;
}
.bg-color{
  background: #DFF6F1;
}
.fleche{
  margin-right: 320px;
color: #53565A;
// padding-bottom: 400px;
}
ion-header{
  position: absolute;
 
}
ion-toolbar{
  --ion-background-color:transparent;
  opacity: 0;
}
ion-card{
  --ion-background-color:transparent;
  box-shadow: none !important;

}
ion-card-title{
  margin-top: 80px !important;
  font-size: 25px;
  font-weight: 600;
  color: #53565A;
  text-align: center;
}
ion-card-subtitle{
  text-align: center;
  padding-top: 15px !important;
  font-size: 13px;
  font-weight: 400;
  padding: 0 30px;
  color: #888C91;
  text-transform: none;
}
ion-card-content{
padding-top: 30px;
}
ion-item{
  color: #74787E;
  --border-color:#D4D7DB;
  --highlight-color-focused:#5C815C;
  --padding-start:0;
  --inner-padding-end:0;
  font-size: 13px;
  ion-input{
    color: #74787E;
font-size: 13px;
    ion-icon{
      padding-right: 6px;
      font-size: 18px;
    }
  }
  ion-input:hover{
    color: #5C815C;
  }

}

.sign-btn-wrap{
  text-align: center;
  padding-top: 45px;
  .sign-btn{
    --ion-primary-color:#5C815C;
    --background:#5C815C;
    color:#F4F6FA;
    --background-color:#5C815C;
    border-radius: 25px;
    --background-activated:#E1EAF9;
    --background-focused:#E1EAF9;
    --background-hover:#647B9D;

  }
}
.text-tag{
  margin-top: 30px;
  text-align: center;
  span{
      font-size: 13px;
      font-weight: normal;
      color:#FF4500;
  }
}
.social-btns{
  text-align: center;
  margin-top: 18px;
  ion-button{
   width: 30px;
   padding-left: 5px !important;
  }
}

.container {
  display: grid; /* ou display: flex; pour une mise en page en colonne */
  grid-template-rows: auto 1fr; /* ou flex-direction: column; pour une mise en page en colonne */
  height: 100%;
}

.login-button {
  position: sticky; /* ou position: fixed; si vous souhaitez que le bouton soit fixé à une position spécifique */
  bottom: 20px; /* ajustez cette valeur pour la position verticale souhaitée */
  text-align: center; /* centrez le bouton horizontalement si nécessaire */
}
