ion-content{
    --ion-background-color:#DFF6F1;
}
ion-card{
    --ion-background-color:transparent;
    box-shadow: none !important;

}

ion-header{
    position: absolute;
    // --ion-background-color:#E1EAF9!important;

}
ion-toolbar{
    --ion-backgroound-color:transparent;
    opacity: 0;

}
ion-card-title{
  margin-top: 30px;
  font-size: 20px;
  color:#080808;
  text-align: center;
  font-weight: 600px;


}
ion-card-subtitle{
padding-top: 15px;
font-size: 11px;
color:#898585;
text-align: center;
font-weight: 300px;

}
.signin-btns{
    margin-top: 25px;
    text-align: center;
    color:#F0F4FA;
}
.loginbtn{
    --ion-color-primary:#5C815C;
}
.text-tag{
    margin-top: 40px;
    text-align: center;
    span{
        font-size: 13px;
        font-weight: normal;
        color:#5C815C;
    }
}
.social-btns{
    text-align: center;
    ion-button{
     width: 40px;
     padding-left: 5px !important;
    }
}


.typewriter2 {
  display: block;
  overflow: hidden;
  animation: typing 5s steps(30, end), blink-caret .5s step-end infinite;
  white-space: nowrap;
  font-size: 1.2rem;
  border-right: .15em solid orange;
  letter-spacing: .10em;
  margin: 0 auto;
  animation-iteration-count: infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter caret */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
