<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Bienvenu dans notre plateform</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color" [fullscreen]="true">
<ion-card>
  <ion-img class="accueilE" src="assets/images/im.png"></ion-img>
  <ion-card-header>
    <ion-card-title>
      Le Forum des Etudiants
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="EtudiantInscrit">
      <ion-img class="profileE" [src]="profilePictureUrl" *ngIf="profilePictureUrl"></ion-img>

      <p class="listE">Fullname: {{fullName}}</p>
      <p class="listE">Phone no: {{phoneNo}}</p>
      <p class="listE">Email: {{email}}</p>

    </div>
    <ion-item>
      <!-- <input type="file" (change)="onFileSelected($event)"> -->
    </ion-item>
    <!-- <button (click)="onUpload()">Upload Photo</button> -->
  </ion-card-content>
</ion-card>
  <!-- <div class="etudiant"> -->
    <!-- <ul *ngFor="let item of ">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div> -->


</ion-content>
