<!-- <ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title> Bienvenu dans notre plateform</ion-title>
    <<ion-title class="typewriter">

    </ion-title> -->
  <!-- </ion-toolbar>
</ion-header>  -->

<ion-content  [fullscreen]="true">



  <ion-img class="accueilE" src="assets/images/profil1.png"></ion-img>
<ion-card class="bg-color" >

  <ion-card-header>
    <ion-card-title>
      Le Forum des Etudiants
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <div class="EtudiantInscrit">
      <ng-container *ngFor="let post of posts">
        <ion-card class="sama-card">
          <form (ngSubmit)="submitPost()" #postForm="ngForm">
            <textarea name="postContent" [(ngModel)]="postContent" required></textarea>
            <button type="submit">Publier</button>
          </form> 
          <!-- Contenu du poste -->
          <h3>{{ post.content }}</h3>
          <p>{{ post.date | date }}</p>
      
          <!-- Formulaire de commentaire -->
          <div>
            <input type="text" [(ngModel)]="post.commentInput" placeholder="Ajouter un commentaire">
            <button (click)="addComment(post)">Ajouter</button>
          </div>
      
          <!-- Liste des commentaires -->
          <ul>
            <li *ngFor="let comment of post.comments">
              {{ comment.content }}
            </li>
          </ul>
        </ion-card>
      </ng-container>
      
      <!-- <ion-img class="profileE" [src]="profilePictureUrl" *ngIf="profilePictureUrl"></ion-img> -->
<!-- pour poster -->
<!-- <ng-container *ngFor="let post of posts">
<ion-card class="sama-card">
      <form (ngSubmit)="submitPost()" #postForm="ngForm">
        <textarea name="postContent" [(ngModel)]="postContent" required></textarea>
        <button type="submit">Publier</button>
      </form> -->
<!-- La directive *ngFor permet de parcourir le tableau posts et pour chaque élément post, les balises HTML à l'intérieur de la balise div seront répétées.
   Vous pouvez utiliser les expressions {{ }} pour afficher les propriétés de chaque post, comme le contenu (post.content) et la date (post.date). La pipe date est utilisée pour formater la date. -->
      <!-- <div *ngFor="let post of posts">
        <h3>{{ post.content }}</h3>
        <p>{{ post.date | date }}</p>

        <div>
          <input type="text" [(ngModel)]="post.commentInput" placeholder="Ajouter un commentaire">
          <button (click)="addComment(post)">Ajouter</button>
        </div>

        <ul>
          <li *ngFor="let comment of post.comments">
            {{ comment.content }}
          </li> 
         </ul>
      </div>
    </ion-card>
    </ng-container>  -->
<!-- fin etudiant -->



      </div>



      <!-- <p class="listE">Email: {{email}}</p> -->


    <ion-item>
      <!-- <input type="file" (change)="onFileSelected($event)"> -->
    </ion-item>
    <!-- <button (click)="onUpload()">Upload Photo</button> -->
  </ion-card-content>
</ion-card>


</ion-content>
