<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color" [fullscreen]="true">
<ion-card>
  <ion-img src="assets/images/accueil.png"></ion-img>
  <ion-card-header>
    <ion-card-title>
      Bienvenu dans notre plateform
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="EtudiantInscrit">
      <p>Fullname: {{fullName}}</p>
      <p>Phone no: {{phoneNo}}</p>
      <p>Email: {{email}}</p>
    </div>
  </ion-card-content>
</ion-card>
  <!-- <div class="etudiant"> -->
    <!-- <ul *ngFor="let item of ">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div> -->
 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
 
</ion-content>
